
body {
    background-color: #dddddd;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

header {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: white;
}

.logo {
    background-color: #4fa9a4;
    height: 30px;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    margin: 32px 0 0 230px;
    position: absolute;
    width: 180px;
    padding: 20px;
    
}


/* Navigation */
.nav {
    list-style: none;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #fff;
    padding: 40px 17% 40px 0;
    border-bottom: 3px solid #cccccc;
}

li {
    float: right;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: #d3d3d3;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover {
    padding-top: 2px;
}

/* container */
.container {
    width: 880px;
    background-color: white;
    vertical-align: top;
    overflow: auto;
    margin: auto;
    padding: 40px;
}

h2 {
    color: #4fa9a4;
    height: 25px;
    width: 176px;
    text-align: center;
    font-size: 2rem;

}

.para {
    text-align: justify;
    padding: 2%;
    white-space: 2%;
    line-height: 130%;
    border-top: 2px solid #666666;
}

img {
   height: 15%;
   width: 15%;
   float: left;
   margin: 20px 20px 0 2%;
}
hr {
    width: 880px;
}
/* Footer */
footer {
	text-align: center;
	background-color: #666666;
	position: fixed;
    bottom: 0;
    height: 20px;
    padding: 20px 0 20px 0;
    width: 100%;
    border-top: 10px solid #4fa9a4;
}








